In [1]:
if True: 
    print('Data Science')

Data Science

In [2]:
if False:
    print('Data Science')
print('bye for now')

bye for now

In [3]:
if False:
    print('Data Science job')
else:
    print('no job')

no job

In [4]:
x = 4 
r = x % 2 

if r == 0:
    print('Even number')

Even number

In [5]:
x = 5
r = x % 2 

if r != 0:
    print('Odd number')

Odd number

In [6]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')
    
print('odd number')

odd number

In [7]:
x = 9
r = x % 2 

if r == 0:
    print('Even number')
    
if r == 1:
    print('odd number')

odd number

In [8]:
x = 8
r = x % 2 

if r == 0:
    print('Even number')
    
else:
    print('odd number')

Even number

In [9]:
x = 4
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
    else:
        print('lesser number')

else:
    print('Odd Number')

Even number
lesser number

In [10]:
x = 13
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
    else:
        print('lesser number')

else:
    print('Odd Number')

Odd Number

#loops in python

In [12]:
i = 1          # initializing
while i<=5:    # condition
    print('data science')
    i = i + 1  # increment

data science
data science
data science
data science
data science

In [13]:
i = 5          # initializing

while i>=1:    # condition
    print('data science')
    i = i - 1  # decrement

data science
data science
data science
data science
data science

In [14]:
i = 1

while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()
    
    # the output which we got is very lengty but how to make them one line lets refer to below code

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [15]:
 i = 1
while i<=5:
    print(' datascience', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end="")
        j = j + 1
        
    i = i + 1
    print()

 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology