In [1]:
tup1 = ()

In [2]:
tup2 = (10,30,60)

In [3]:
tup3 = (10.77,30.66,60.89)

In [4]:
tup4 = ('one','two' , "three")

In [5]:
tup5 = ('Asif', 25 ,(50, 100),(150, 90))

In [6]:
tup6 = (100, 'Asif', 17.765)

In [7]:
tup7 = ('Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33))

In [8]:
len(tup7)

6

In [9]:
tup2[0] # Retreive first element of the tuple

10

In [10]:
tup4[0] # Retreive first element of the tuple

'one'

In [11]:
tup4[0][0] # Nested indexing - Access the first character of the first tuple ele

'o'

In [13]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [14]:
mytuple[0:3] # Return all items from 0th to 3rd index location excluding the item

('one', 'two', 'three')

In [15]:
mytuple[2:5] # List all items from 2nd to 5th index location excluding the item

('three', 'four', 'five')

In [16]:
mytuple[:3] # Return first three items

('one', 'two', 'three')

In [17]:
mytuple[:2] # Return first two items

('one', 'two')

In [18]:
mytuple[-3:] # Return last three items

('six', 'seven', 'eight')

In [19]:
mytuple[:-3]

('one', 'two', 'three', 'four', 'five')

In [20]:
mytuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [21]:
del mytuple

In [22]:
mytuple

NameError: name 'mytuple' is not defined

In [23]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [24]:
for i in mytuple: print(i)

one
two
three
four
five
six
seven
eight

In [25]:
for i in enumerate(mytuple): print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [26]:
'one' in mytuple

True

In [28]:
if 'three' in mytuple: # Check if 'three' exist in the list
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [29]:
mytuple.index('one')

0

In [30]:
sorted(mytuple)

['eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two']

In [31]:
myset = {1,2,3,4,5} # Set of numbers
myset

{1, 2, 3, 4, 5}

In [32]:
my_set = {1,1,2,2,3,4,5,5}
my_set

{1, 2, 3, 4, 5}

In [33]:
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [34]:
myset2 = {'Asif' , 'John' , 'Tyrion'} # Set of Strings
myset2

{'Asif', 'John', 'Tyrion'}

In [35]:
myset3 = {10,20, "Hola", (11, 22, 32)} # Mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [36]:
myset3 = {10,20, "Hola", [11, 22, 32]} # set doesn't allow mutable items like li
myset3

TypeError: unhashable type: 'list'

In [37]:
myset4 = set() # Create an empty set
print(type(myset4))

<class 'set'>

In [39]:
my_set1 = set(('one' , 'two' , 'three' , 'four')) 
my_set1

{'four', 'one', 'three', 'two'}

In [40]:
myset

{1, 2, 3, 4, 5}

In [41]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
for i in myset: print(i)

eight
four
three
five
two
one
six
seven

In [42]:
for i in enumerate(myset): print(i)

(0, 'eight')
(1, 'four')
(2, 'three')
(3, 'five')
(4, 'two')
(5, 'one')
(6, 'six')
(7, 'seven')

In [43]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [44]:
'one' in myset # Check if 'one' exist in the set

True

In [46]:
if 'three' in myset: # Check if 'three' exist in the set
    print('Three is present in the set')
else:
    print('Three is not present in the set')

Three is present in the set

In [47]:
if 'eleven' in myset: # Check if 'eleven' exist in the list
    print('eleven is present in the set')
else:
    print('eleven is not present in the set')

eleven is not present in the set

In [48]:
myset.add('NINE') # Add item to a set using add() method
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [49]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE']) # Add multiple item to a set using
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [50]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [51]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [52]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [53]:
A.union(B, C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [54]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [55]:
A & B # Intersection of A and B (Common items in both sets)

{4, 5}

In [56]:
A.intersection(B)

{4, 5}

In [57]:
A.intersection_update(B)

In [58]:
A

{4, 5}

In [59]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [60]:
A - B

{1, 2, 3}

In [61]:
A.difference(B)

{1, 2, 3}

In [62]:
B- A

{6, 7, 8}

In [63]:
B.difference(A)

{6, 7, 8}

In [64]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [65]:
A ^ B # Symmetric difference (Set of elements in A and B but not in both. "EXCLU"

{1, 2, 3, 6, 7, 8}

In [66]:
A.symmetric_difference(B) # Symmetric difference of sets

{1, 2, 3, 6, 7, 8}

In [67]:
A.symmetric_difference_update(B) 
A

{1, 2, 3, 6, 7, 8}

In [68]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [69]:
B.issubset(A) # Set B is said to be the subset of set A if all elements of B are subset of A

True

In [70]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B

True

In [71]:
C.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common elements

True

In [72]:
B.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common elements

False

In [73]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [74]:
sum(A)

45

In [75]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [76]:
D= sorted(A,reverse=True) 
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [77]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
mydict = dict() # empty dictionary
mydict

{}

In [79]:
mydict = {} # empty dictionary
mydict

{}

In [80]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [81]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [82]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [83]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [84]:
mydict.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [85]:
mydict.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [86]:
mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [87]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [92]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat','hat') }
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [94]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = 10
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'d': 10, 'b': 10, 'a': 10, 'c': 10}

In [95]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'d': [10, 20, 30], 'b': [10, 20, 30], 'a': [10, 20, 30], 'c': [10, 20, 30]}

In [96]:
value.append(40) 
mydict3

{'d': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

In [97]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'} 
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [98]:
mydict[1] # Access item using key

'one'

In [99]:
mydict.get(1) # Access item using get() method

'one'

In [101]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [102]:
mydict1['Name'] # Access item using key

'Asif'

In [103]:
mydict1.get('job')

'Analyst'

In [104]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [105]:
mydict1['DOB'] = 1992 # Changing Dictionary Items
mydict1['Address'] = 'Delhi'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [106]:
dict1 = {'DOB':1995}
mydict1.update(dict1) 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [107]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [108]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [109]:
mydict1.popitem() # A random item is removed

('Address', 'Delhi')

In [110]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995}

In [111]:
del[mydict1['ID']] # Removing item using del method
mydict1

{'Name': 'Asif', 'DOB': 1995}

In [112]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

{}

In [113]:
del mydict1 # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

In [115]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [116]:
mydict1 = mydict # Create a new reference "mydict1"

In [117]:
id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same

(1752302863232, 1752302863232)

In [118]:
mydict2 = mydict.copy() # Create a copy of the dictionary

In [119]:
id(mydict2) # The address of mydict2 will be different from mydict because mydic

1752303021632

In [120]:
mydict['Address'] = 'Mumbai'

In [121]:
mydict['Address'] = 'Mumbai'

In [122]:
mydict1 # mydict1 will be also impacted as it is pointing to the same dictionary

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [123]:
mydict2 # Copy of list won't be impacted due to the changes made in the original

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [125]:
for i in mydict1:
    print(i , ':' , mydict1[i]) # Key & value pair

Name : Asif
ID : 12345
DOB : 1991
Address : Mumbai

In [127]:
for i in mydict1:
    print(mydict1[i]) # Dictionary items

Asif
12345
1991
Mumbai

In [128]:
'Name' in mydict1

True

In [129]:
'Address' in mydict1

True

In [130]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [131]:
all(mydict1) # Will Return false as one value is false (Value 0)

True

In [2]:
num1=20 
num2=30
add=num1+num2
print('The addition of',num1,'and',num2,'is=',add)

The addition of 20 and 30 is= 50

In [4]:
name='Python' 
age=20
city='hyd'
name='Python' 
age=20
city='hyd'
print('My name is',name,'and i am',age,'years old form',city)

My name is Python and i am 20 years old form hyd

In [6]:
name='Python' 
age=20
city='hyd'
#hellow my name is python and i am 10 year old from hydrabad

In [13]:
print('hello my name is {}, and i am {} years old from {} ' .format(name,age,city))

hello my name is Python, and i am 20 years old from hyd

In [14]:
num1=20 
num2=30
add=num1+num2
print(f'The addition of {num1} and {num2} is= {add}')

The addition of 20 and 30 is= 50

In [15]:
print(f'hello my name is {name}, and i am {age} year old, from {city}.')

hello my name is Python, and i am 20 year old, from hyd.

In [17]:
# lete combine all
num1=10
num2=20
add = num1+ num2
print('The addition of',num1,'and',num2,'is=',add)
print('The addition of {} and {} is= {}'.format(num1,num2,add)) 
print(f'The addition of {num1} and {num2} is= {add}')

The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30

In [18]:
print('hello', end=' ') # 1st statement
print('world good day') # 2nd statement

hello world good day

In [19]:
print('hello','hai','how are you',sep='--->')

hello--->hai--->how are you

In [20]:
print('hello','hai','how are you',sep='&')

hello&hai&how are you

In [21]:
print(1,2,end=' ')
print(3,'.',sep='') # will print 1 2 3.

1 2 3.